*{

 margin:0;
 padding:0;   
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    box-sizing: border-box;
}
p{
    line-height: 1.5;
    text-align: left;
}
:root {
    --theme:#0067b8;

  }
  
.btn::after{
    content: '>';
    position: absolute;
    font-size: x-large;
    right:-20px;
    top:6px;
}
section div a{
    color:var(--theme);
    
  
}

.card-cont .xyz::after{
    content: '>';
    color:var(--theme);
    position: absolute;
    font-size: x-large;
    right:-20px;
    top:0;
}